@inherits LayoutComponentBase

<header class="position-fixed vw-100" style="z-index:100000; top:0;">
    <nav class="navbar navbar-expand-sm navbar-dark navbar-toggleable-sm bg-dark box-shadow mb-3 shadow  d-flex flex-column">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <a class="navbar-brand ml-lg-n2 font-weight-bold" style="margin-top:-1px;" href="/"><span class="text-danger">ХРАМ</span> ВОЗНЕСЕНИЯ ГОСПОДНЯ</a>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                @*<LoginDisplay />*@
                <NavMenu />
            </div>
        </div>
    </nav>
</header>

<div class="container" style="margin-top:85px">
    <main role="main" class="pb-4">
        @Body
    </main>
</div>
