<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-dark" href="/posts">Новости</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-dark" href="/schedule">Расписание</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-dark" href="/photos">Фотографии</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-dark" href="/contacts">Контакты</a>
    </li>
</ul>

