<ul class="navbar-nav flex-grow-1">
    <li class="nav-item mr-1">
        <a class="btn btn-dark" href="/">Главная</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-dark" href="/news_example">Примеры новостей</a>
    </li>  
    @*<li class="nav-item">
        <a class="btn btn-dark" href="/news_example">О храме</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-dark" href="/news_example">О Таинствах</a>
    </li>
    <li class="nav-item">
    <a class="btn btn-dark" href="/news_example">Для клироса</a>
    </li>*@
</ul>

