@page "/news_example1"

@using blazorHramPosts.Models
@inject blazorHramPosts.Services.IPostsService PostsService
@inject NavigationManager NavigationManager

<div class="mb-3">
            <a class="btn btn-secondary active" href="#news" data-toggle="list">Новости и объявления</a>
        
            <a class="btn btn-secondary" href="#video" data-toggle="list">Видео</a>
        
            <a class="btn btn-secondary" href="#tample" data-toggle="list">О храме</a>
        
            <a class="btn btn-secondary" href="">О Таинствах</a>
        
            <a class="btn btn-secondary" href="">Для клироса</a>
        </div>

<div class="tab-content">
    <div class="tab-pane fade show active" id="news">
        <div class="row mb-3 row-cols-1 row-cols-md-2 row-cols-xl-3">
            @foreach (var post in posts.Where(p => p.type == type.Объявление))
            {
                <Post post="post"></Post>
            }
            @foreach (var post in posts.Where(p => p.type == type.Новость))
            {
                <Post post="post"></Post>
            }
        </div>
    </div>
    <div class="tab-pane fade" id="video">
        <div class="row mb-3 row-cols-1 row-cols-md-2 row-cols-xl-3">
            @foreach (var post in posts.Where(p => p.type == type.Видео))
            {
                <Post post="post"></Post>
            }
        </div>
    </div>
    <div class="tab-pane fade" id="tample">
        <div class="row mb-3 row-cols-1 row-cols-md-2 row-cols-xl-3">
            @foreach (var post in posts.Where(p => p.type == type.Статья))
            {
                <Post post="post"></Post>
            }
        </div>
    </div>
</div>



@code {
    List<post> posts = new List<post>();

    protected override async Task OnInitializedAsync()
    {
        posts = await PostsService.posts();
    }

    void подробнее(int id)
    {
        NavigationManager.NavigateTo($"/news_example/details/{id}");
    }
}
