@page "/news_example"
@using blazorHramPosts.Models
@inject blazorHramPosts.Services.IPostsService PostsService
@inject NavigationManager NavigationManager

    <div class="mb-3 d-flex justify-content-between" hidden>
        <div>
            <button class="btn btn-dark">Новости и объявления</button>
            <button class="btn btn-secondary">Видео</button>
        </div>
        <div>
            <button class="btn btn-secondary">О храме</button>
            <button class="btn btn-secondary">О Таинствах</button>
            <button class="btn btn-secondary">Для клироса</button>
        </div>
    </div>
    

<div class="row mb-3 row-cols-1 row-cols-md-2 row-cols-xl-3">
    @foreach (var post in posts)
    {
        <div class="col mb-4">
            <div class="card bg-dark text-white h-100">
                <div class="card-header">
                    <h4 class="card-title">@post.title</h4>
                    <div class="small text-muted">@post.created.ToShortDateString()</div>
                </div>
                @if (!String.IsNullOrEmpty(post.cover_image))
                {
                    <img src="@post.cover_image" class="img-fluid" alt="...">
                }
                <div class="card-body">
                    <p class="card-text">@((MarkupString)post.description)</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-dark" @onclick="()=>подробнее(post.ID)">Подробнее</button>
                </div>
            </div>
        </div>
    }
</div>

@code {
    List<post> posts = new List<post>();

    protected override async Task OnInitializedAsync()
    {
        posts = await PostsService.posts();
    }

    void подробнее(int id)
    {
        NavigationManager.NavigateTo($"/news_example/details/{id}");
    }
}
