<div class="mb-3 d-flex justify-content-between">
    <div>
        <a class="btn btn-secondary" href="/posts/news">Новости и объявления</a>
        <a class="btn btn-secondary" href="/posts/videos">Видео</a>
    </div>
    <div>
        <a class="btn btn-secondary" href="/posts/news">О храме</a>
        <a class="btn btn-secondary" href="/posts/news">О Таинствах</a>
        <a class="btn btn-secondary" href="/posts/news">Для клироса</a>
    </div>
</div>

@code {
    
}
