@page "/photos"
@inject IPhotosService PhotosService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<h3 class="mb-3">Фотографии</h3>

<div class="row row-cols-1 row-cols-md-2 row-cols-xl-2">
    @foreach (var album in albums.OrderByDescending(d => d.updated))
    {
        <Album album="album">
            <Navigation>
                <button class="btn btn-light mr-1" @onclick="()=>показать(album)"><i class="far fa-eye"></i> Посмотреть</button>
            </Navigation>
        </Album>
    }
</div>


<Modal_album album="selectedAlbum" скрыть_окно="()=>скрыть()"></Modal_album>


@code {
    public List<imageAlbum> albums = new List<imageAlbum>();
    imageAlbum selectedAlbum = new imageAlbum();

    protected override async Task OnInitializedAsync()
    {
        albums = await PhotosService.imageAlbums();
    }

    async Task показать(imageAlbum album)
    {
        selectedAlbum = new imageAlbum();
        await JSRuntime.InvokeAsync<string>("Hidden_album", "modal_album");
        selectedAlbum = album;
        await JSRuntime.InvokeAsync<string>("Show_album", "modal_album");
    }

    async Task скрыть()
    {
        selectedAlbum = new imageAlbum();
        await JSRuntime.InvokeAsync<string>("Hidden_album", "modal_album");
    }
}
