@page "/"
@using blazorHramPosts.Pages.Post
@using blazorHramPosts.Models
@inject blazorHramPosts.Services.IPostsService PostsService

<style>
    .nav-pills > li > a.active {
        background-color: #343a40 !important;
        color: white !important;
    }

    .nav-pills > li.active > a:hover {
        background-color: #46b3e6 !important;
        color: white !important;
    }

    .nav-link-color {
        color: #46b3e6;
    }
</style>



<div class="d-flex justify-content-between align-items-center mb-3">
    @*Заголовок страницы*@
    <h5 class="mb-0" style="text-shadow:1px 1px 6px rgba(0,0,0,0.8)">ГЛАВНАЯ</h5>
    @*Навигация*@
    <ul class="nav nav-pills ml-3 justify-content-end" id="pills-tab">
        <li class="nav-item">
            <a class="nav-link text-dark active" data-toggle="pill" href="#pills-news">Объявления и новости</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" data-toggle="pill" href="#pills-articles">Статьи</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" data-toggle="pill" href="#pills-addons">Может быть интересно</a>
        </li>
    </ul>
</div>

<div class="tab-content" id="pills-tabContent">
    @*Основные*@
    <div id="pills-news" class="tab-pane fade show active">
        <div id="accordion" class="mt-3">
            @foreach (var post in PostsService.posts().Where(p => p.type == type.объявление).Reverse())
            {
                <Post_notification post="post"></Post_notification>
            }
            @foreach (var post in PostsService.posts().Where(p => p.type == type.новость).Reverse())
            {
                <Post_news post="post"></Post_news>
            }
        </div>
    </div>
    @*Статьи*@
    <div id="pills-articles" class="tab-pane fade">
        <div id="accordion" class="mt-3">
            @foreach (var post in PostsService.posts().Where(p => p.type == type.статья).Reverse())
            {
                <Post_articel post="post"></Post_articel>
            }
        </div>
    </div>
    @*Может быть интересно*@
    <div id="pills-addons" class="tab-pane fade">
        <div id="accordion" class="mt-3">
            @foreach (var post in PostsService.posts().Where(p => p.type == type.видео).Reverse())
            {
                <Post_video post="post"></Post_video>

            }
        </div>
    </div>
</div>

